<form id="form" method='post'>
    <p>請輸入想要分詞的中文：</p>
    <textarea id='text' name='text' cols="45" rows="10">任何一句完整的中文也可</textarea>
    <input name='go' id="go" value='去！', type="button"/>
</form>

<div id="result">
</div>

<script type="text/javascript">
renderResult = function(items){
	$("#result").html("");
    for(var i in items){
		$("#result").append("<span class='word'>" + items[i] + "</span>");	
    }
}

$("#go").bind("click", function(e){
	$.getJSON("http://segmenter.heroku.com/segmenter?callback=?", {'text': $("#text").val()}, function(data){renderResult(data)} );
});
</script>

<div class="footer">
	<p>Segmenter powered by <a href="http://rmmseg-cpp.rubyforge.org/">rmmseg-cpp</a></p>
	<p>Jsonp powered by <a href="http://www.sinatrarb.com/">Sinatra</a></p>
    <p>follow me @<a href="http://twitter.com/siuying">siuying</a></p>
</div>